#parent{
    text-align: center;
}

#gitHubUsers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    padding: 12px 20px 12px 40px;
  }
  
  #gitHubUsers td, #gitHubUsers th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  #gitHubUsers tr:nth-child(even){background-color: #f2f2f2;}
  
  #gitHubUsers tr:hover {background-color: #ddd;}
  
  #gitHubUsers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
  }
  #filterUsers {
    background-image: url('searchicon.png'); 
    background-position: 10px 12px; 
    background-repeat: no-repeat; 
    width: 100%; 
    font-size: 16px; 
    padding: 12px 20px 12px 40px; 
    border: 1px solid #ddd; 
    margin-bottom: 12px; 
  }