.stopwatch 
{   color: blue;  
    padding: 5px; 
    border:none; 
    width: 250px; 
    margin:15px 0; 
    float:center; 
    text-align: center;
    font-size: 45px;
}
.button { 
    width: 220px; 
    margin:2px; 
}
#parent{
    text-align: center;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 8px 4px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
  }
  
  .button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  }